<div class="topnav" id="myTopnav">
    <a href="/company" class="active">Companies</a>
    <a href="/employee">Employees</a>
    <div class="dropdown">
        <button class="dropbtn">Queries
            <i class="fas fa-angle-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/company/last-year">Company: last year registeration</a>
            <a href="/company/update-state-city-tehran">Company: change state and city to tehran</a>
            <a href="/employee/age-20-30">Employee: age between 20 to 30</a>
            <a href="/employee/manager">Employee: managers</a>
        </div>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>